.van-pull-refresh {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.BusinessHome {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.BusinessHome .head_box {
  width: 100%;
  height: 300px;
  background: linear-gradient(left, #ff0065, #ff7900);
  color: #fff;
}
.BusinessHome .head_box .topbar {
  width: 100vw;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
}
.BusinessHome .head_box .topbar .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 90px;
}
.BusinessHome .head_box .topbar .left span {
  display: inline-block;
  width: 24px;
  height: 40px;
  margin-top: 25px;
  background: url("../img/back_btn_b.png") no-repeat;
  background-size: 24px 40px;
}
.BusinessHome .head_box .topbar .right {
  position: absolute;
  right: 30px;
  top: 0;
  right: 0;
  width: 100px;
  height: 90px;
}
.BusinessHome .head_box .topbar .right span {
  display: inline-block;
  width: 42px;
  height: 44px;
  margin-top: 22px;
  background: url("../img/notice_btn.png") no-repeat;
  background-size: 42px 44px;
}
.BusinessHome .head_box .topbar .right span.num::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 18px;
  right: 16px;
}
.BusinessHome .head_box .topbar .title {
  width: 100%;
  height: 100%;
}
.BusinessHome .head_box .cont_box {
  width: 100%;
  overflow: hidden;
  font-size: 26px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BusinessHome .head_box .cont_box .number_box {
  flex: 1;
  overflow: hidden;
}
.BusinessHome .head_box .cont_box .number_box .bean_num {
  display: flex;
  align-items: center;
  width: 100%;
}
.BusinessHome .head_box .cont_box .number_box .bean_num .tt {
  width: 100px;
}
.BusinessHome .head_box .cont_box .number_box .bean_num .count {
  flex: 1;
  overflow: auto;
  font-size: 40px;
  line-height: 60px;
}
.BusinessHome .head_box .cont_box .btn_box {
  width: 220px;
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.BusinessHome .head_box .cont_box .btn_box .item {
  line-height: 36px;
  font-size: 28px;
  margin-left: 10px;
  text-align: center;
}
.BusinessHome .head_box .cont_box .btn_box .item img {
  width: 50px;
}
.BusinessHome .tab {
  margin-top: -35px;
  height: 100px;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  background: #fff;
  display: flex;
  text-align: center;
  z-index: 99;
}
.BusinessHome .tab .item {
  flex: 1;
  color: #595959;
  font-size: 32px;
  height: 60px;
  line-height: 60px;
  margin: 20px 0;
  background: transparent;
}
.BusinessHome .tab .item:nth-of-type(1) {
  border-right: 1px solid #e5e5e5;
}
.BusinessHome .tab .item.item1.active {
  color: #ff0044;
  position: relative;
  font-weight: bold;
}
.BusinessHome .tab .item.item1.active::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 6px;
  background: #ff0044;
  border-radius: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.BusinessHome .tab .item.item2.active {
  color: #6074F9;
  position: relative;
  font-weight: bold;
}
.BusinessHome .tab .item.item2.active::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 6px;
  background: #6074F9;
  border-radius: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.BusinessHome .main_box {
  flex: 1;
  margin: 0;
  overflow: auto;
}
.BusinessHome .van-tabs--line {
  flex: 1;
  margin-top: -35px;
  padding-top: 100px;
  overflow: hidden;
  display: flex;
}
.BusinessHome .van-tabs--line .van-tabs__wrap {
  height: 100px;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  background: #fff;
  line-height: 100px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  z-index: 1;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tabs__nav {
  display: flex;
  padding: 0;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tab {
  flex: 1;
  color: #595959;
  font-size: 32px;
  background: transparent;
  height: 100px;
  line-height: 100px;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tab.van-tab--active {
  color: #ff0044;
  position: relative;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tab.van-tab--active::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 6px;
  background: #ff0044;
  border-radius: 2px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tab:nth-of-type(2) {
  position: relative;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tab:nth-of-type(2) ::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 60px;
  background: #ccc;
  right: 0;
  top: 20px;
}
.BusinessHome .van-tabs--line .van-tabs__wrap .van-tabs__line {
  display: none;
}
.BusinessHome .van-tabs--line .van-tabs__content {
  flex: 1;
  overflow: hidden;
  padding: 0 30px;
}
.BusinessHome .van-tabs--line .van-tabs__content .van-tab__pane {
  height: 100%;
  overflow: hidden;
}
.WantBuy {
  height: 100%;
  padding-top: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.WantBuy .top_msg {
  width: 100%;
  padding: 10px 30px;
  font-size: 24px;
  color: #999999;
  line-height: 40px;
  background: rgba(255, 0, 68, 0.4);
  color: #fff;
  box-sizing: border-box;
}
.WantBuy .buylist {
  width: 100%;
  flex: 1;
  overflow: auto;
  font-size: 26px;
}
.WantBuy .buylist .list_item {
  border-bottom: 1px solid #e5e5e5;
  color: #595959;
  padding: 8px 30px;
  line-height: 46px;
  position: relative;
}
.WantBuy .buylist .list_item .gobuy {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  color: #FF0044;
  border: 1px solid #FF0044;
}
.WantBuy .buylist .list_item .num {
  font-size: 32px;
  color: #212121;
  padding: 10px 0;
}
.WantBuy .buylist .list_item .price {
  font-size: 28px;
  color: #666;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.WantBuy .buylist .list_item .name {
  font-size: 28px;
  color: #666;
  display: flex;
  align-items: center;
}
.WantBuy .buylist .list_item .credit {
  font-size: 22px;
  color: #999;
}
.WantBuy .buylist .nolist {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  color: #999;
}
.WantBuy .buylist .nolist img {
  width: 232px;
  height: 239px;
  margin: 200px 0 20px 0;
}
.WantBuy .van-popup {
  border-radius: 20px 20px 0px 0px;
}
.WantBuy .van-popup .buyBox {
  width: 100vw;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
.WantBuy .van-popup .buyBox .box_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 32px;
  color: #212121;
  padding: 15px 0;
}
.WantBuy .van-popup .buyBox .box_title .red {
  color: #FF0044;
  font-size: 46px;
  font-weight: 600;
}
.WantBuy .van-popup .buyBox .input_box {
  width: 100%;
  height: 90px;
  line-height: 90px;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  overflow: hidden;
  margin-top: 30px;
  display: flex;
}
.WantBuy .van-popup .buyBox .input_box .ipt_box {
  flex: 1;
  height: 90px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.WantBuy .van-popup .buyBox .input_box .ipt_box input {
  flex: 1;
  height: 90px;
  border: none;
  background: #f4f4f4;
  padding-left: 20px;
  font-size: 28px;
  color: #212121;
}
.WantBuy .van-popup .buyBox .input_box .ipt_box span {
  width: 140px;
  font-size: 28px;
  color: #212121;
  text-align: center;
}
.WantBuy .van-popup .buyBox .input_box .all_btn {
  width: 164px;
  background: #fff;
  font-size: 28px;
  color: #212121;
  line-height: 90px;
  text-align: center;
  border-left: 1px solid #c5c5c5;
}
.WantBuy .van-popup .buyBox .describe {
  font-size: 24px;
  color: #999;
  line-height: 30px;
  padding: 15px 0;
}
.WantBuy .van-popup .buyBox .btn_box {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.WantBuy .van-popup .buyBox .btn_box .time {
  width: 380px;
  height: 90px;
  padding: 5px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  font-size: 26px;
  color: #595959;
  line-height: 40px;
  text-align: center;
}
.WantBuy .van-popup .buyBox .btn_box .time .num {
  display: inline-block;
  width: 50px;
}
.WantBuy .van-popup .buyBox .btn_box .buy_btn {
  width: 280px;
  height: 90px;
  box-sizing: border-box;
  background: #FF0044;
  box-shadow: 0px 6px 16px 0px rgba(255, 0, 68, 0.4);
  border-radius: 20px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #fff;
}
.WantBuy .salein_btn {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #FF0044;
  box-shadow: 0px 10px 18px 0px rgba(255, 0, 68, 0.4);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 30px;
  font-size: 36px;
}
.WantBuy .sort_box {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 360px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(164, 164, 164, 0.28);
  border-radius: 30px;
  border: 1px solid #c0c0c0;
}
.WantBuy .sort_box span {
  font-size: 26px;
  color: #FF0044;
  padding: 0 20px 0 50px;
  position: relative;
}
.WantBuy .sort_box span::after {
  position: absolute;
  top: 18px;
  left: 20px;
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/toggle_none.png") no-repeat;
  background-size: 27px 23px;
}
.WantBuy .sort_box span.sort1::after {
  background-image: url("../img/toggle_up.png");
}
.WantBuy .sort_box span.sort-1::after {
  background-image: url("../img/toggle_down.png");
}
.WantBuy .sort_box span.left {
  text-align: left;
  float: left;
}
.WantBuy .sort_box span.right {
  text-align: right;
  float: right;
}
.SellOut {
  height: 100%;
  padding-top: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.SellOut .top_msg {
  width: 100%;
  padding: 10px 30px;
  font-size: 24px;
  color: #999999;
  line-height: 40px;
  background: rgba(0, 62, 175, 0.35);
  color: #fff;
  box-sizing: border-box;
}
.SellOut .buylist {
  width: 100%;
  flex: 1;
  overflow: auto;
  font-size: 26px;
}
.SellOut .buylist .list_item {
  border-bottom: 1px solid #e5e5e5;
  color: #595959;
  padding: 8px 30px;
  line-height: 46px;
  position: relative;
}
.SellOut .buylist .list_item .gobuy {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  color: #6074F9;
  border: 1px solid #6074F9;
}
.SellOut .buylist .list_item .num {
  font-size: 32px;
  color: #212121;
  padding: 10px 0;
}
.SellOut .buylist .list_item .price {
  font-size: 28px;
  color: #666;
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.SellOut .buylist .list_item .name {
  font-size: 28px;
  color: #666;
  display: flex;
  align-items: center;
}
.SellOut .buylist .list_item .credit {
  font-size: 22px;
  color: #999;
}
.SellOut .buylist .nolist {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  color: #999;
}
.SellOut .buylist .nolist img {
  width: 232px;
  height: 239px;
  margin: 200px 0 20px 0;
}
.SellOut .van-popup {
  border-radius: 20px 20px 0px 0px;
}
.SellOut .van-popup .buyBox {
  width: 100vw;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
.SellOut .van-popup .buyBox .box_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 32px;
  color: #212121;
  padding: 15px 0;
}
.SellOut .van-popup .buyBox .box_title .red {
  color: #6074F9;
  font-size: 46px;
  font-weight: 600;
}
.SellOut .van-popup .buyBox .input_box {
  width: 100%;
  height: 90px;
  line-height: 90px;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  overflow: hidden;
  margin-top: 30px;
  display: flex;
}
.SellOut .van-popup .buyBox .input_box .ipt_box {
  flex: 1;
  height: 90px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SellOut .van-popup .buyBox .input_box .ipt_box input {
  flex: 1;
  height: 90px;
  border: none;
  background: #f4f4f4;
  padding-left: 20px;
  font-size: 28px;
  color: #212121;
}
.SellOut .van-popup .buyBox .input_box .ipt_box span {
  width: 140px;
  font-size: 28px;
  color: #212121;
  text-align: center;
}
.SellOut .van-popup .buyBox .input_box .all_btn {
  width: 164px;
  background: #fff;
  font-size: 28px;
  color: #212121;
  line-height: 90px;
  text-align: center;
  border-left: 1px solid #c5c5c5;
}
.SellOut .van-popup .buyBox .describe {
  font-size: 24px;
  color: #999;
  line-height: 30px;
  padding: 15px 0;
}
.SellOut .van-popup .buyBox .btn_box {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.SellOut .van-popup .buyBox .btn_box .time {
  width: 380px;
  height: 90px;
  padding: 5px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  font-size: 26px;
  color: #595959;
  line-height: 40px;
  text-align: center;
}
.SellOut .van-popup .buyBox .btn_box .time .num {
  display: inline-block;
  width: 50px;
}
.SellOut .van-popup .buyBox .btn_box .buy_btn {
  width: 280px;
  height: 90px;
  box-sizing: border-box;
  background: #6074F9;
  box-shadow: 0px 6px 16px 0px rgba(0, 62, 175, 0.35);
  border-radius: 20px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #fff;
}
.SellOut .salein_btn {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #6074F9;
  box-shadow: 0px 10px 18px 0px rgba(0, 62, 175, 0.35);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 30px;
  font-size: 36px;
}
.SellOut .sort_box {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 360px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(164, 164, 164, 0.28);
  border-radius: 30px;
  border: 1px solid #c0c0c0;
}
.SellOut .sort_box span {
  font-size: 26px;
  color: #6074F9;
  padding: 0 20px 0 50px;
  position: relative;
}
.SellOut .sort_box span::after {
  position: absolute;
  top: 18px;
  left: 20px;
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/toggle_none.png") no-repeat;
  background-size: 27px 23px;
}
.SellOut .sort_box span.sort1::after {
  background-image: url("../img/toggle_up2.png");
}
.SellOut .sort_box span.sort-1::after {
  background-image: url("../img/toggle_down2.png");
}
.SellOut .sort_box span.left {
  text-align: left;
  float: left;
}
.SellOut .sort_box span.right {
  text-align: right;
  float: right;
}
.RecycleInput {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 30px;
  box-sizing: border-box;
  padding-top: 100px;
}
.RecycleInput .sell_title {
  font-size: 32px;
  color: #222;
  margin-top: 50px;
}
.RecycleInput .sell_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  align-items: flex-end;
}
.RecycleInput .sell_item input {
  flex: 1;
  border: none;
  color: #212121;
  font-size: 30px;
  line-height: 40px;
  padding: 20px 0;
  outline: none;
  font-family: "PingFang SC", "Microsoft YaHei", "SimSun";
}
.RecycleInput .sell_item input:focus {
  font-size: 30px;
}
.RecycleInput .sell_item input::-webkit-input-placeholder {
  color: #999;
  font-size: 28px;
}
.RecycleInput .sell_item .right {
  font-size: 36px;
  color: #212121;
  line-height: 40px;
  padding: 20px 0;
  padding-left: 10px;
}
.RecycleInput .stepper_box {
  width: 460px;
  height: 80px;
  margin: 10px auto;
}
.RecycleInput .stepper_box input {
  font-size: 30px;
  border: none;
  font-family: "PingFang SC", "Microsoft YaHei", "SimSun";
}
.RecycleInput .subTit {
  font-size: 22px;
  color: #999;
  margin-top: 6px;
}
.RecycleInput .subTit.acv {
  color: #FF0044;
}
.RecycleInput .submit {
  text-align: center;
  margin: 20px auto;
  margin-top: 100px;
  width: 600px;
  height: 90px;
  line-height: 90px;
  background: #c5c5c5;
  border-radius: 20px;
  font-size: 36px;
  color: #fff;
}
.RecycleInput .submit.active {
  background: #FF0044;
  box-shadow: 0px 6px 16px 0px rgba(247, 23, 80, 0.3);
}
.RecycleInput .rate {
  font-size: 22px;
  color: #999;
  width: 600px;
  margin: 0 auto;
}
.SellInput {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 30px;
  box-sizing: border-box;
  padding-top: 100px;
}
.SellInput .sell_title {
  font-size: 32px;
  color: #222;
  margin-top: 50px;
}
.SellInput .sell_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  align-items: flex-end;
}
.SellInput .sell_item input {
  flex: 1;
  border: none;
  color: #212121;
  font-size: 30px;
  line-height: 40px;
  padding: 20px 0;
  outline: none;
  font-family: "PingFang SC", "Microsoft YaHei", "SimSun";
}
.SellInput .sell_item input:focus {
  font-size: 30px;
}
.SellInput .sell_item input::-webkit-input-placeholder {
  color: #999;
  font-size: 28px;
}
.SellInput .sell_item .right {
  font-size: 36px;
  color: #212121;
  line-height: 40px;
  padding: 20px 0;
  padding-left: 10px;
}
.SellInput .stepper_box {
  width: 460px;
  height: 80px;
  margin: 10px auto;
}
.SellInput .stepper_box input {
  font-size: 30px;
  border: none;
  font-family: "PingFang SC", "Microsoft YaHei", "SimSun";
}
.SellInput .subTit {
  font-size: 22px;
  color: #999;
  margin-top: 6px;
}
.SellInput .subTit.acv {
  color: #6074F9;
}
.SellInput .submit {
  text-align: center;
  margin: 20px auto;
  margin-top: 100px;
  width: 600px;
  height: 90px;
  line-height: 90px;
  background: #c5c5c5;
  border-radius: 20px;
  font-size: 36px;
  color: #fff;
}
.SellInput .submit.active {
  background: #6074F9;
  box-shadow: 0px 6px 16px 0px rgba(0, 62, 175, 0.25);
}
.SellInput .rate {
  font-size: 22px;
  color: #999;
  width: 600px;
  margin: 0 auto;
}
.SellResult {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
}
.SellResult .top {
  padding: 30px;
  background: #fff;
  text-align: center;
  padding-top: 120px;
}
.SellResult .top .img_box {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.SellResult .top .img_box img {
  width: 100%;
  height: 100%;
}
.SellResult .top .result_title {
  font-size: 36px;
  color: #333;
}
.SellResult .top .result_sub {
  margin-top: 20px;
  font-size: 26px;
  line-height: 38px;
  padding: 0;
  color: #999;
}
.SellResult .title_line {
  font-size: 28px;
  color: #333;
  padding-left: 30px;
  line-height: 80px;
}
.SellResult .main {
  background: #fff;
  margin-bottom: 100px;
  padding: 10px 0;
}
.SellResult .main .item {
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  font-size: 28px;
}
.SellResult .main .item .name {
  float: left;
  color: #999;
}
.SellResult .main .item .num {
  float: right;
  color: #333;
}
.SellResult .submit {
  width: 690px;
  height: 90px;
  line-height: 90px;
  background: #f71750;
  box-shadow: 0px 6px 16px 0px rgba(175, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 34px;
  margin: 50px auto;
}
.GoBuy {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(top, #ffffff 0%, #f4f4f4 38%);
}
.GoBuy .main {
  text-align: center;
  padding-top: 140px;
}
.GoBuy .main .name {
  font-size: 32px;
  color: #222;
}
.GoBuy .main .stepper_box {
  width: 460px;
  margin: 20px auto;
}
.GoBuy .title {
  font-size: 28px;
  color: #333;
  padding-left: 30px;
  line-height: 80px;
}
.GoBuy .cont {
  margin: 0 30px;
  border-radius: 20px;
  overflow: hidden;
}
.GoBuy .cont .list_item {
  display: flex;
  height: 70px;
  line-height: 70px;
  color: #595959;
  background: #fff;
}
.GoBuy .cont .list_item.head {
  background: #fff8f3;
}
.GoBuy .cont .list_item .left {
  width: 150px;
  text-align: left;
  padding-left: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GoBuy .cont .list_item .right {
  flex: 1;
  text-align: right;
  padding-right: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GoBuy .cont .list_item .item {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.GoBuy .submit_box {
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  line-height: 100px;
  display: flex;
}
.GoBuy .submit_box .totle {
  flex: 1;
  font-size: 32px;
  padding-left: 30px;
  color: #595959;
}
.GoBuy .submit_box .submit {
  width: 260px;
  height: 100px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  background: #c5c5c5;
}
.GoBuy .submit_box .submit.active {
  background: linear-gradient(63deg, #ff0065 0%, #ff7900 100%);
}
.BusinessList {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  background: #fff;
}
.BusinessList .bs_list {
  height: calc(100vh - 180px);
}
.BusinessList .bs_list .bs_item {
  margin-bottom: 10px;
  padding: 10px 30px;
  border-bottom: 1px solid #e5e5e5;
}
.BusinessList .bs_list .bs_item .item {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  padding: 5px 0;
}
.BusinessList .bs_list .bs_item .item .type {
  font-size: 32px;
  font-weight: bold;
}
.BusinessList .bs_list .bs_item .item .type .one {
  color: #f71750;
  padding-right: 8px;
}
.BusinessList .bs_list .bs_item .item .type .two {
  color: #6074f9;
  padding-right: 8px;
}
.BusinessList .bs_list .bs_item .item .godetail {
  text-align: right;
  font-size: 28px;
  color: #212121;
  display: flex;
  align-items: center;
}
.BusinessList .bs_list .bs_item .item .godetail .arrow_icon {
  width: 11px;
  height: 19px;
  margin-left: 5px;
  background: url("../img/arrow_icon.png") no-repeat;
  background-size: 100% 100%;
}
.BusinessList .bs_list .bs_item .item .textright {
  text-align: right;
}
.BusinessList .bs_list .bs_item .item .textcenter {
  text-align: center;
  padding: 0 10px;
}
.BusinessList .bs_list .bs_item .item .tt {
  font-size: 22px;
  color: #999;
}
.BusinessList .bs_list .bs_item .item .aa {
  font-size: 22px;
  color: #595959;
}
.BusinessList .bs_list .bs_item .item .name {
  font-size: 28px;
  color: #595959;
}
.BusinessList .bs_list .bs_item .item .godetails {
  padding: 8px 10px;
  font-size: 26px;
  line-height: 30px;
  border: 1px solid #ff0044;
  color: #ff0044;
  border-radius: 10px;
}
.BusinessList .bs_list .bs_item .nolist {
  text-align: center;
  padding-top: 150px;
}
.BusinessList .bs_list .bs_item .nolist img {
  width: 232px;
}
.BusinessList .bs_list .bs_item .nolist .cont {
  font-size: 28px;
  color: #999;
  padding-top: 10px;
}
.BusinessList .bs_list .nolist {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  color: #999;
}
.BusinessList .bs_list .nolist img {
  width: 254px;
  height: 270px;
  margin: 180px 0 20px 0;
}
.BusinessList .select_mb {
  width: 100vw;
  height: calc(100vh - 90px);
  position: fixed;
  top: 90px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.BusinessList .select_mb .select_box {
  width: 100%;
  background: #fff;
  padding-top: 5px;
}
.BusinessList .select_mb .select_box .select_title {
  font-size: 32px;
  color: #222222;
  line-height: 45px;
  padding: 20px 30px;
}
.BusinessList .select_mb .select_box .select_item {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}
.BusinessList .select_mb .select_box .select_item span {
  width: 210px;
  height: 60px;
  line-height: 60px;
  background: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  margin: 15px 14px;
  font-size: 30px;
  color: #222;
}
.BusinessList .select_mb .select_box .select_item span.active {
  background: #f71750;
  color: #fff;
}
.BusinessList .select_mb .select_box .btn_box {
  margin-top: 40px;
  display: flex;
  border-top: 1px solid #f4f4f4;
}
.BusinessList .select_mb .select_box .btn_box span {
  flex: 1;
  text-align: center;
  font-size: 36px;
  color: #222;
  height: 100px;
  line-height: 100px;
}
.BusinessList .select_mb .select_box .btn_box span.active {
  background: #f71750;
  color: #fff;
}
.BusinessNotice {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
}
.BusinessNotice .list {
  padding: 30px;
}
.BusinessNotice .nolist {
  text-align: center;
  padding-top: 150px;
}
.BusinessNotice .nolist img {
  width: 232px;
}
.BusinessNotice .nolist .cont {
  font-size: 28px;
  color: #999;
  padding-top: 10px;
}
.BusinessDetail {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
}
.BusinessDetail .top {
  padding: 30px;
  background: #fff;
  text-align: center;
  padding-top: 120px;
}
.BusinessDetail .top .img_box {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.BusinessDetail .top .img_box img {
  width: 100%;
  height: 100%;
}
.BusinessDetail .top .result_title {
  font-size: 36px;
  color: #333;
}
.BusinessDetail .top .result_sub {
  margin-top: 20px;
  font-size: 26px;
  line-height: 38px;
  padding: 0 100px;
  color: #999;
}
.BusinessDetail .title_line {
  font-size: 28px;
  color: #333;
  padding-left: 30px;
  line-height: 80px;
}
.BusinessDetail .main {
  background: #fff;
  padding: 10px 0;
}
.BusinessDetail .main .item {
  line-height: 50px;
  padding: 5px 30px;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}
.BusinessDetail .main .item .name {
  max-width: 500px;
  color: #999;
}
.BusinessDetail .main .item .num {
  max-width: 500px;
  color: #333;
  word-wrap: break-word;
}
.BusinessDetail .submit {
  width: 690px;
  height: 90px;
  line-height: 90px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  text-align: center;
  color: #595959;
  font-size: 34px;
  margin: 20px auto;
  margin-top: 100px;
}
.PaySuccess {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
.PaySuccess .top {
  padding: 120px 30px;
  text-align: center;
  padding-top: 120px;
}
.PaySuccess .top .img_box {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}
.PaySuccess .top .img_box img {
  width: 100%;
  height: 100%;
}
.PaySuccess .top .result_title {
  font-size: 36px;
  color: #333;
}
.PaySuccess .top .result_sub {
  margin-top: 20px;
  font-size: 26px;
  line-height: 38px;
  padding: 0;
  color: #999;
}
.PaySuccess .btns {
  width: 690px;
  height: 90px;
  line-height: 90px;
  border-radius: 20px;
  text-align: center;
  color: #595959;
  font-size: 34px;
  margin: 50px auto;
  border: 1px solid #c5c5c5;
}
.BeansDetail {
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding-top: 90px;
  box-sizing: border-box;
}
.BeansDetail .beans_list {
  padding-top: 8px;
  padding-left: 30px;
}
.BeansDetail .beans_list .item {
  border-bottom: 1px solid #e5e5e5;
  color: #212121;
  font-size: 28px;
  line-height: 50px;
  display: flex;
  padding: 10px 0;
  padding-right: 30px;
}
.BeansDetail .beans_list .item img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.BeansDetail .beans_list .item .cnt {
  flex: 1;
  padding-left: 10px;
}
.BeansDetail .beans_list .item .cnt .date {
  font-size: 22px;
  color: #999;
  line-height: 40px;
}
.BeansDetail .beans_list .item .name {
  flex: 1;
  text-align: right;
}
.BeansDetail .beans_no {
  text-align: center;
  padding-top: 280px;
}
.BeansDetail .beans_no img {
  width: 232px;
  height: 239px;
}
.BeansDetail .beans_no div {
  font-size: 28px;
  color: #999;
  margin-top: 10px;
}
.KLine {
  width: 100vw;
  height: 100vh;
  background: #1E1919;
  padding-top: 100px;
  padding-bottom: 120px;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
}
.KLine .head_box {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  background: #1E1919;
  z-index: 9;
}
.KLine .head_box .left {
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 90px;
}
.KLine .head_box .left span {
  display: inline-block;
  width: 24px;
  height: 40px;
  margin-top: 25px;
  background: url("../img/back_btn_b.png") no-repeat;
  background-size: 24px 40px;
}
.KLine .head_box .title {
  width: 100%;
  height: 100%;
}
.KLine .number_box {
  width: 100%;
  height: 200px;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.KLine .number_box .left {
  flex: 1;
  overflow: auto;
}
.KLine .number_box .left .money {
  color: #F81750;
  font-size: 36px;
  line-height: 50px;
  padding: 10px 0;
  font-weight: bold;
}
.KLine .number_box .left .dou {
  color: #D9D9D9;
  font-size: 26px;
  line-height: 40px;
}
.KLine .number_box .left .dou .plus {
  color: #3ABA14;
  padding: 0 10px;
}
.KLine .number_box .left .dou .reduce {
  color: #F81750;
  padding: 0 10px;
}
.KLine .number_box .right {
  width: 300px;
  font-size: 24px;
}
.KLine .number_box .right .itm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  padding: 4px 0;
  color: #999;
}
.KLine .number_box .right .itm .num {
  color: #D9D9D9;
  overflow: auto;
}
.KLine .sourceType {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border: 6px solid #000000;
}
.KLine .sourceType .type {
  flex: 1;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 26px;
  color: #C5C5C5;
}
.KLine .sourceType .type.active {
  position: relative;
}
.KLine .sourceType .type.active::after {
  content: " ";
  position: absolute;
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background: #F81750;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.KLine #myChart {
  margin: 0 auto;
  height: 600px;
  width: 720px;
}
.KLine .trans_contener {
  margin-top: 30px;
  padding: 30px;
  border-top: 10px solid #000;
}
.KLine .trans_contener .title {
  font-size: 32px;
  color: #fff;
  line-height: 50px;
}
.KLine .trans_contener .trans_list {
  padding-top: 20px;
}
.KLine .trans_contener .trans_list table {
  width: 100%;
  font-size: 24px;
  color: #C5C5C5;
}
.KLine .trans_contener .trans_list table thead {
  font-weight: bold;
  color: #e5e5e5;
}
.KLine .trans_contener .trans_list table tr {
  padding: 10px 0;
}
.KLine .trans_contener .trans_list table tr th {
  text-align: center;
  line-height: 40px;
  padding: 6px 0;
}
.KLine .trans_contener .trans_list table tr th:first-child {
  text-align: left;
}
.KLine .trans_contener .trans_list table tr th:last-child {
  text-align: right;
}
.KLine .trans_contener .trans_list table tr .c1 {
  color: #999;
}
.KLine .trans_contener .trans_list table tr .color1 {
  color: #F71750;
}
.KLine .trans_contener .trans_list table tr .color2 {
  color: #3ABA14;
}
.KLine .btn_contener {
  width: 100%;
  height: 120px;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.KLine .btn_contener .btn {
  width: 310px;
  height: 90px;
  line-height: 90px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 36px;
}
.KLine .btn_contener .btn.r {
  background: linear-gradient(85deg, #f71750 0%, #f81750 100%);
  box-shadow: 0px 6px 16px 0px rgba(175, 0, 0, 0.25);
}
.KLine .btn_contener .btn.g {
  background: #3aba14;
  box-shadow: 0px 6px 16px 0px rgba(0, 124, 36, 0.25);
}
