.question-start-container {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  overflow: auto;
  background: url(../img/game/game_start_bg.png) no-repeat center 90px;
  background-size: cover;
}
.question-start-container .question-wrapper {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - 90px);
  background: url(../img/game/game_start_cont.png) no-repeat center bottom;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.question-start-container .question-wrapper .title {
  width: 569px;
  margin-top: 40px;
}
.question-start-container .question-wrapper .coin {
  position: absolute;
  width: 75px;
  height: 115px;
  right: 0;
  top: 325px;
}
.question-start-container .question-wrapper .btn {
  width: 460px;
  height: 100px;
  line-height: 100px;
  border-radius: 50px;
  font-size: 34px;
  color: #fff;
  background: #f71750;
  box-shadow: 0px 6px 0px 0px rgba(255, 20, 20, 0.31);
  text-align: center;
  margin-bottom: 86px;
  position: relative;
}
.question-start-container .question-wrapper .btn::after {
  position: absolute;
  content: " ";
  width: 92px;
  height: 92px;
  top: 4px;
  right: 6px;
  background: url('../img/game/game_go_btn.png') no-repeat;
  background-size: 100% 100%;
  animation: shan 1s infinite;
}
@keyframes shan {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.question-home-container {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  overflow: auto;
  background: url(../img/game/game_home_bg.png) no-repeat center 90px;
  background-size: cover;
}
.question-home-container .game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 90px);
}
.question-home-container .game-wrapper .cont {
  width: 445px;
  height: 258px;
  background: url(../img/game/game_bg_water.png) no-repeat center 96px;
  background-size: 445px 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.question-home-container .game-wrapper .cont .circle {
  height: 258px;
  width: 258px;
  background: url(../img/game/game_bg_circle.png) no-repeat center;
  background-size: 258px 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  box-sizing: border-box;
  padding-top: 40px;
  color: #FFF;
}
.question-home-container .game-wrapper .cont .circle .num {
  font-size: 60px;
  margin: 0 25px;
}
.question-home-container .game-wrapper .question-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.question-home-container .game-wrapper .question-panel .question-header {
  width: 660px;
  height: 200px;
  background: url(../img/game/game_panel_bg.png) no-repeat center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.question-home-container .game-wrapper .question-panel .question-header .header {
  width: 430px;
  height: 67px;
  margin-top: -9px;
}
.question-home-container .game-wrapper .question-panel .question-header .question {
  width: 569px;
  height: 74px;
  font-size: 26px;
  color: #FFF;
  margin-bottom: 43px;
}
.question-home-container .game-wrapper .question-panel .answer {
  width: 660px;
  background: linear-gradient(180deg, #fff7f7 0%, #ffcece 100%);
  border-radius: 0px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 46px;
}
.question-home-container .game-wrapper .question-panel .answer .answer-item {
  min-height: 120px;
  width: 580px;
  border-radius: 20px;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 24px;
  color: #212121;
  margin: 27px 0 0 27px;
  font-weight: 500;
}
.question-home-container .game-wrapper .question-panel .answer .answer-item.active {
  background: #F71750;
  color: #FFF;
}
.question-home-container .suc_mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.question-home-container .suc_mask .cont_box {
  width: 570px;
  height: 560px;
  padding: 30px 30px 40px 30px;
  box-sizing: border-box;
  background: #FFF;
  border-radius: 20px;
  position: relative;
  text-align: center;
}
.question-home-container .suc_mask .cont_box .subtitle {
  font-size: 26px;
  color: #666666;
  font-weight: 500;
  margin-top: -80px;
  margin-bottom: 46px;
}
.question-home-container .suc_mask .cont_box .subtitle span {
  color: #FF004A;
}
.question-home-container .suc_mask .cont_box.correct .subcnt {
  color: #45C979;
}
.question-home-container .suc_mask .cont_box.correct .sure_btn {
  box-shadow: 0px 6px 0px 0px rgba(20, 255, 225, 0.31);
  background: #45C979;
}
.question-home-container .suc_mask .cont_box .header {
  width: 518px;
  height: 245px;
  margin-top: -115px;
}
.question-home-container .suc_mask .cont_box .answer-all {
  width: 570px;
  height: 306px;
  margin-top: -125px;
  margin-left: -20px;
}
.question-home-container .suc_mask .cont_box .subcnt {
  font-size: 46px;
  padding: 30px 0;
  padding-top: 10px;
  color: #F71750;
  height: 36px;
  font-weight: 500;
  margin-top: 76px;
  margin-bottom: 112px;
}
.question-home-container .suc_mask .cont_box .subcnt.all {
  margin-top: 20px;
  margin-bottom: 118px;
}
.question-home-container .suc_mask .cont_box .sure_btn {
  width: 460px;
  height: 90px;
  line-height: 90px;
  background: #F71750;
  box-shadow: 0px 6px 0px 0px rgba(255, 20, 20, 0.31);
  border-radius: 12px;
  margin: 0 auto;
  font-size: 34px;
  color: #FFF;
  font-weight: 500;
}
.question-home-container .suc_mask .close_btn {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  background: url("../img/close_b.png") no-repeat;
  background-size: 100% 100%;
}
