.van-dialog {
  border-radius: 20px !important;
}
.van-dialog .van-dialog__header {
  font-size: 36px !important;
}
.van-dialog .van-dialog__content {
  font-size: 32px !important;
}
.van-dialog .van-dialog__content .van-dialog__message {
  font-size: 32px !important;
}
.van-dialog .van-button__text {
  font-size: 36px !important;
}
.van-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
.van-pull-refresh {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.van-toast {
  border-radius: 20px !important;
}
