.van-pull-refresh {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.about {
  width: 100%;
  height: 100%;
  background: #eee;
}
.about h1 {
  width: 750px;
  background: #f00;
  font-size: 32px;
  line-height: 60px;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.finished {
  text-align: center;
  color: #999;
  line-height: 60px;
  font-size: 22px;
}
.ScrollList {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  background: #fff;
  font-family: PingFangSC-Medium, PingFang SC;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.ScrollList .TopHeader {
  color: #222;
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
  left: 0;
  font-weight: 600;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  background: #fff;
  z-index: 999;
}
.ScrollList .TopHeader .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 90px;
}
.ScrollList .TopHeader .back span {
  display: inline-block;
  width: 24px;
  height: 40px;
  margin-top: 25px;
  background: url("../img/back_btn.png") no-repeat;
  background-size: 24px 40px;
}
.ScrollList .ad_box {
  width: 100vw;
  height: 288px;
  background: url("../img/scroll_ad.png") no-repeat;
  background-size: 100% 100%;
}
.ScrollList .ad_box .show_ad_btn {
  width: 180px;
  height: 60px;
  line-height: 60px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  color: #212121;
  font-size: 28px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-right: 30px;
  margin-top: 210px;
}
.ScrollList .ad_box .show_ad_btn::after {
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  background: url("../img/scroll_video_btn.png") no-repeat;
  background-size: 100% 100%;
  top: 4px;
  right: 5px;
}
.ScrollList .like_num {
  position: fixed;
  top: 178px;
  left: 0;
  width: 100vw;
  height: 70px;
  background: #fff8f3;
  box-sizing: border-box;
  line-height: 70px;
  padding-left: 80px;
  color: #212121;
  z-index: 999;
}
.ScrollList .like_num::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 39px;
  background: url("../img/task_zan.png") no-repeat;
  background-size: 100% 100%;
  top: 16px;
  left: 30px;
}
.ScrollList .bs_list {
  height: calc(100vh - 180px);
  padding-top: 70px;
  box-sizing: border-box;
}
.ScrollList .bs_list .tugas_list {
  min-height: calc(100vh - 250px);
  padding: 1px 30px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.ScrollList .bs_list .tugas_list .task_item {
  margin: 30px 0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  font-size: 20px;
  line-height: 40px;
  background: linear-gradient(300deg, #eee 0%, #bbb 100%);
}
.ScrollList .bs_list .tugas_list .task_item#choosed {
  animation: scrollShan 1s infinite;
}
.ScrollList .bs_list .tugas_list .task_item .level_logo {
  position: absolute;
  width: 90px;
  height: 80px;
  top: 0;
  right: 30px;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
  box-sizing: border-box;
}
.ScrollList .bs_list .tugas_list .task_item .level_title {
  padding: 15px 0;
  font-size: 28px;
  font-weight: bold;
  height: 40px;
}
.ScrollList .bs_list .tugas_list .task_item .item_cnt {
  padding: 5px 0;
}
.ScrollList .bs_list .tugas_list .task_item .need_num {
  padding: 12px 0;
  padding-top: 15px;
}
.ScrollList .bs_list .tugas_list .task_item .skor_box {
  margin: 10px 0;
  padding-top: 16px;
  font-size: 26px;
  border-top: 1px dotted #fff;
  display: flex;
  align-items: center;
  line-height: 30px;
}
.ScrollList .bs_list .tugas_list .task_item .skor_box .icon {
  width: 30px;
  height: 30px;
  background: url('../img/skor_f.png') no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
}
.ScrollList .bs_list .tugas_list .task_item .reward_box {
  position: absolute;
  top: 94px;
  right: 30px;
  text-align: right;
  font-size: 20px;
  line-height: 32px;
}
.ScrollList .bs_list .tugas_list .task_item .reward_box .can_get {
  font-size: 44px;
  font-weight: 500;
}
.ScrollList .bs_list .tugas_list .task_item .reward_box .exchange_btn {
  width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  display: inline-block;
  margin-top: 20px;
  color: #bbb;
}
.ScrollList .bs_list .tugas_list .task_item.leveN {
  background: linear-gradient(290deg, #ffeeb5 0%, #fdb634 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leveN .level_logo {
  background: url("../img/task_lvN.png") no-repeat;
  background-size: 100% 100%;
  color: transparent;
}
.ScrollList .bs_list .tugas_list .task_item.leveN .exchange_btn {
  color: #fdb634;
}
.ScrollList .bs_list .tugas_list .task_item.leve1 {
  background: linear-gradient(300deg, #94afff 0%, #557de6 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leve1 .level_logo {
  background: url("../img/task_lv1.png") no-repeat;
  background-size: 100% 100%;
  color: #7e8ab3;
}
.ScrollList .bs_list .tugas_list .task_item.leve1 .exchange_btn {
  color: #557de6;
}
.ScrollList .bs_list .tugas_list .task_item.leve2 {
  background: linear-gradient(294deg, #c2edfd 0%, #0183ff 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leve2 .level_logo {
  background: url("../img/task_lv2.png") no-repeat;
  background-size: 100% 100%;
  color: #3892eb;
}
.ScrollList .bs_list .tugas_list .task_item.leve2 .exchange_btn {
  color: #0183ff;
}
.ScrollList .bs_list .tugas_list .task_item.leve3 {
  background: linear-gradient(290deg, #ffeeb5 0%, #fdb634 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leve3 .level_logo {
  background: url("../img/task_lv3.png") no-repeat;
  background-size: 100% 100%;
  color: #fdb634;
}
.ScrollList .bs_list .tugas_list .task_item.leve3 .exchange_btn {
  color: #fdb634;
}
.ScrollList .bs_list .tugas_list .task_item.leve4 {
  background: linear-gradient(287deg, #ffe196 0%, #fa702c 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leve4 .level_logo {
  background: url("../img/task_lv3.png") no-repeat;
  background-size: 100% 100%;
  color: #fe5f26;
}
.ScrollList .bs_list .tugas_list .task_item.leve4 .exchange_btn {
  color: #fa702c;
}
.ScrollList .bs_list .tugas_list .task_item.leve5 {
  background: linear-gradient(287deg, #ffd7a2 0%, #f3717d 100%);
}
.ScrollList .bs_list .tugas_list .task_item.leve5 .level_logo {
  background: url("../img/task_lv3.png") no-repeat;
  background-size: 100% 100%;
  color: #fd1772;
}
.ScrollList .bs_list .tugas_list .task_item.leve5 .exchange_btn {
  color: #f3717d;
}
@keyframes scrollShan {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.ScrollList .bs_list .nolist {
  min-height: calc(100vh - 250px);
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}
.ScrollList .bs_list .nolist img {
  width: 232px;
}
.ScrollList .bs_list .nolist .cont {
  font-size: 28px;
  color: #999;
  padding-top: 10px;
}
.ScrollList .scroll_success_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ScrollList .scroll_success_mask .main_box {
  width: 612px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.ScrollList .scroll_success_mask .main_box img {
  width: 320px;
  margin: 10px;
}
.ScrollList .scroll_success_mask .main_box .msg {
  font-size: 34px;
  color: #212121;
  line-height: 50px;
}
.ScrollList .scroll_success_mask .main_box .msg .title {
  color: #F71750;
}
.ScrollList .scroll_success_mask .main_box .btn {
  width: 530px;
  height: 90px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 90px;
  font-size: 34px;
  color: #fff;
  background: #f71750;
  box-shadow: 0px 6px 16px 0px rgba(175, 0, 0, 0.25);
  border-radius: 12px;
}
.ScrollList .scroll_success_mask .close_btn {
  margin-top: 30px;
  width: 80px;
  height: 80px;
  background: url('../img/close_b.png') no-repeat;
  background-size: 100% 100%;
}
.NoticeIndex {
  width: 100%;
  height: 100%;
  padding-top: 250px;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
}
.NoticeIndex .head {
  color: #222;
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
  left: 0;
  font-weight: 600;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  background: #fff;
  z-index: 999;
}
.NoticeIndex .fixed {
  position: fixed;
  left: 0;
  top: 90px;
  background: #fff;
  z-index: 999;
  width: 100vw;
}
.NoticeIndex .fixed .tab_switch {
  width: 100%;
}
.NoticeIndex .fixed .tab_switch .tab_navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .split {
  height: 60px;
  width: 1px;
  background: #e5e5e5;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .tab_title {
  position: relative;
  flex: 1;
  height: 140px;
  text-align: center;
  padding-bottom: 20px;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .tab_title .title_no_reading {
  position: absolute;
  top: -5px;
  right: 50%;
  margin-right: -55px;
  width: 32px;
  height: 32px;
  background: #f71750;
  border-radius: 50%;
  transform: scale(0.5);
}
.NoticeIndex .fixed .tab_switch .tab_navigator .tab_title .tab_title_icon {
  flex: 1;
  width: 90px;
  height: 90px;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .tab_title .tab_title_text {
  height: 40px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .tab_title .tab_title_ident {
  margin: 6px auto 0;
  width: 50px;
  height: 6px;
  background: #f71750;
  border-radius: 2px;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .active_title_text {
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #212121;
}
.NoticeIndex .fixed .tab_switch .tab_navigator .no_active_title_text {
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #595959;
}
.NoticeIndex .centent_list .notice_list {
  box-sizing: border-box;
  height: calc(100vh - 250px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.NoticeIndex .centent_list .notice_list .list {
  padding: 20px 30px;
  min-height: calc(100vh - 250px);
  box-sizing: border-box;
}
.NoticeIndex .centent_list .notice_list .list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.NoticeIndex .centent_list .notice_list .list .item .item_icon {
  margin: 4px 20px 0 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.NoticeIndex .centent_list .notice_list .list .item .item_centent {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: #e5e5e5 solid 1px;
}
.NoticeIndex .centent_list .notice_list .list .item .item_centent .item_center {
  position: relative;
  flex: 1;
}
.NoticeIndex .centent_list .notice_list .list .item .item_centent .item_center .item_center_text {
  font-size: 28px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #333333;
  line-height: 40px;
  letter-spacing: 1px;
}
.NoticeIndex .centent_list .notice_list .list .item .item_centent .item_center .item_time {
  margin-top: 7px;
  height: 30px;
  font-size: 22px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #999999;
  line-height: 30px;
  letter-spacing: 1px;
}
.NoticeIndex .centent_list .notice_list .list .item .item_centent .item_img {
  width: 80px;
  height: 80px;
}
.NoticeIndex .centent_list .notice_list .no_notice {
  padding-top: 215px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.NoticeIndex .centent_list .notice_list .no_notice .no_notice_img {
  width: 254px;
  height: 270px;
}
.NoticeIndex .centent_list .notice_list .no_notice .text {
  margin-top: 20px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #999999;
  line-height: 40px;
  letter-spacing: 1px;
}
.Questions {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
}
.Questions .head {
  color: #222;
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
  left: 0;
  font-weight: 600;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  background: #fff;
  z-index: 999;
}
.Questions .list {
  padding: 10px 0;
  padding-bottom: 30px;
}
.Questions .list .main_tit {
  font-size: 36px;
  font-weight: bold;
  color: #212121;
  position: relative;
  padding: 10px 0;
  padding-left: 90px;
  line-height: 50px;
}
.Questions .list .main_tit::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 30px;
  width: 40px;
  height: 45px;
  background: url("../img/wen_btn.png") no-repeat;
  background-size: 40px 45px;
}
.Questions .list table {
  border: 1px solid #f71750;
  border-collapse: collapse;
  font-size: 18px;
}
.Questions .list table th {
  border-left: 1px solid #f71750;
  border-top: 1px solid #f71750;
  color: #666;
}
.Questions .list table th:nth-child(1) {
  color: #212121;
}
.Questions .list table thead {
  background: #fbc6d3;
}
.Questions .list table thead th {
  color: #212121;
}
.SignIn {
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  background: linear-gradient(360deg, #ffffff 0%, #a8e9fb 58%, #7ac7fd 76%, #5aafff 100%);
  overflow: auto;
}
.SignIn .head {
  color: #222;
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
  left: 0;
  font-weight: 600;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  background: #fff;
  z-index: 999;
}
.SignIn .main_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../img/signin_bg1.png") no-repeat;
  background-size: 750px 666px;
  background-position: 0 200px;
}
.SignIn .main_box .top_box {
  width: 100%;
  height: 580px;
  padding-top: 30px;
  box-sizing: border-box;
}
.SignIn .main_box .top_box .circle_box {
  width: 472px;
  height: 472px;
  background: url("../img/signin_circle.png") no-repeat;
  background-size: 100% 100%;
  margin: 10px auto;
  text-align: center;
  color: #fff;
  padding: 80px;
  box-sizing: border-box;
}
.SignIn .main_box .top_box .circle_box .tt {
  font-size: 24px;
  margin: 66px 0 30px 0;
  line-height: 30px;
}
.SignIn .main_box .top_box .circle_box .num {
  font-size: 90px;
  font-weight: 600;
  line-height: 90px;
}
.SignIn .main_box .top_box .circle_box .h {
  font-size: 24px;
  margin-right: -30px;
  margin-left: 2px;
}
.SignIn .main_box .top_box .sign_btn {
  width: 300px;
  height: 80px;
  line-height: 80px;
  border-radius: 45px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 34px;
  color: #5a82fe;
  margin-top: -100px;
}
.SignIn .main_box .top_box .nts {
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
}
.SignIn .main_box .list {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
.SignIn .main_box .list .item {
  margin: 15px;
  background: #fff;
  border-radius: 20px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
}
.SignIn .main_box .list .item .img {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.SignIn .main_box .list .item .img img {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}
.SignIn .main_box .list .item .cnt {
  flex: 1;
  padding-left: 10px;
}
.SignIn .main_box .list .item .cnt .name {
  font-size: 30px;
  color: #212121;
  line-height: 40px;
  padding-bottom: 6px;
}
.SignIn .main_box .list .item .cnt .c {
  font-size: 22px;
  color: #999;
  line-height: 36px;
}
.SignIn .main_box .list .item .cnt .c .c1 {
  color: #5a82fe;
}
.SignIn .main_box .list .item .cnt .c .c2 {
  color: #f71750;
}
.SignIn .sign_mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.SignIn .sign_mask .cont_box {
  width: 570px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  position: relative;
  text-align: center;
}
.SignIn .sign_mask .cont_box::before {
  position: absolute;
  content: " ";
  top: -80px;
  left: 10px;
  width: 524px;
  height: 367px;
  background: url("../img/signin_box1.png") no-repeat;
  background-size: 100% 100%;
}
.SignIn .sign_mask .cont_box .cnt {
  font-size: 46px;
  color: #5a82fe;
  padding-top: 250px;
}
.SignIn .sign_mask .cont_box .subcnt {
  font-size: 26px;
  padding: 30px 0;
  color: #666;
}
.SignIn .sign_mask .cont_box .subcnt span {
  color: #ff004a;
}
.SignIn .sign_mask .cont_box .sure_btn {
  width: 460px;
  height: 90px;
  line-height: 90px;
  background: #5a82fe;
  box-shadow: 0px 6px 16px 0px rgba(8, 0, 175, 0.25);
  border-radius: 12px;
  margin: 0 auto;
  font-size: 34px;
  color: #fff;
}
.SignIn .sign_mask .close_btn {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  background: url("../img/close_b.png") no-repeat;
  background-size: 100% 100%;
}
